

.desktop{
    display: none;
}
.desktopp{
    display: none;
}
.first-word{
    color: var(--primary-grey-text);
}

header{
    display: flex;
    width: 88vw;
    justify-content: space-between;
    margin: 5vh 5.5vw 0 6vw;
    height: 10vh;
    
    align-items: center;
    #logo{
        height: 20px;
        z-index: 10;
        object-fit:contain;
     
    }
    #menu{
        height: 20px;
        width: 30px;
        position: relative;

    }
    #menu::after, #menu::before{
        content: "";
        background: black;
        height: 2px;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        z-index: 10;
        left: 0;
    }
    #menu::after{
        top: 0 ;
        margin-top: 5px;
    }
    #menu::before{
        bottom: 0;
        margin-bottom: 5px;
    }
}

#our-service-page{
    position: relative;
    overflow: hidden;    
}
/* Desktop Breakpoint (1200px and above) */
@media only screen and (min-width: 604px) {
    
    header{
        margin: 0vh 2vw 5vh 3vw;
        width: 95vw;
        align-items: end !important;
       
    }
    .desktop{
        display: block;
    }
   
   
}
/* Desktop Breakpoint (1200px and above) */
@media only screen and (min-width: 1020px) {
    header{
        #left-block{
            width: 30vw;
            justify-content: space-between;
            align-items: flex-end;
            p{
                margin: 0;
                margin-bottom: 1vh;
            }
        }
        #right-block{
            width: 25vw;
            justify-content: space-between;
            align-items: flex-end;
            p{
                margin: 0;
                margin-bottom: 1vh;
            }
        }
    }
  
   
    .desktopp{
        display: block !important;
    }
}