.desktop{
    display: none;
}
.desktopp{
    display: none;
}
#project{
    height: 40vh;
}
#container-step-1{
    text-align: center;
    margin: 0;
    width: 90vw;
}
.white::after, .white::before{
    background: white !important;
}
#sub-header{
    margin: 0;
    margin-bottom: 2vh;
  
    
}
#container-step-2{
    text-align: center;
    margin: 0;
    width: 90vw;
    margin-bottom: 2vh;
  
}
#container-step-3{
    text-align: center;
    margin: 0;
    width: 90vw;
    .space-around{
        justify-content: space-around;
    }
}

#large-step-1{
 //   background-color: bisque;
    padding: 10px;
    width: 90vw;
    border-radius: 6px;
   
}

#large-step-2{
 //   background-color: rgb(120, 207, 187);
    padding: 10px;
    width: 90vw;
    border-radius: 6px;

    .step--1{
        

        .information-cli{
            width: 300px;
            display: flex;
            flex-direction: column;
        }
        .information-tatt{
            width: 300px;
            display: flex;
            flex-direction: column;  
        }
    }
}


#large-step-3{
 //   background-color: rgb(99, 108, 191);
    padding: 10px;
    width: 90vw;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 40px;

}


.white::after, .white::before{
    background: white !important;
}
main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    background-color: #cacaca;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
    display: flex;
    border-radius: 12px;
}
header{
    display: flex;
    width: 88vw;
    justify-content: space-between;
    margin: 5vh 5.5vw 0 6vw;
    height: 10vh;
    align-items: center;
    #logo{
        height: 20px;
        z-index: 10;
        object-fit:contain;
     
    }
    #menu{
        height: 20px;
        width: 30px;
        position: relative;

    }
    #menu::after, #menu::before{
        content: "";
        background: black;
        height: 2px;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        z-index: 10;
        left: 0;
    }
    #menu::after{
        top: 0 ;
        margin-top: 5px;
    }
    #menu::before{
        bottom: 0;
        margin-bottom: 5px;
    }
}


/* Desktop Breakpoint (1200px and above) */
@media only screen and (min-width: 604px) {
  
    header{
        margin: 0vh 2vw 5vh 3vw;
        width: 95vw;
        align-items: end !important;
       
    }
    .desktop{
        display: block;
    }
    .step--1{
        display: flex;
        justify-content: space-around;
    }


}
/* Desktop Breakpoint (1200px and above) */
@media only screen and (min-width: 1020px) {
    header{
        #left-block{
            width: 30vw;
            justify-content: space-between;
            align-items: flex-end;
            p{
                margin: 0;
                margin-bottom: 1vh;
            }
        }
        #right-block{
            width: 25vw;
            justify-content: space-between;
            align-items: flex-end;
            p{
                margin: 0;
                margin-bottom: 1vh;
            }
        }
    }
    .desktopp{
        display: block !important;
    }
}


