form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}
h2{
    text-align: center;
}