<div id="login-page" class="w100 h100">
    <h2>Login Page</h2>
    <form class="example-form"  [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Login</mat-label>
          <input type="text" formControlName="username" matInput placeholder="Your Login">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password"  matInput placeholder="Your Password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      <!--- <a href="agendas">go to agenda</a>-->
      </form>
</div>