<div id="home-page">
    <header class=" w100">
        <div id="left-block" class="flex">
            <img id="logo" src="../../../assets/logo.png" />
            <p class="desktopp">Bryant Park, Manhattan, NYC</p>
        </div>
        
        <div id="right-block" class="flex">
            <p class="desktopp">Facebook</p>
            <p class="desktopp">Twitter</p>
            <p class="desktopp">Instagram</p>
            <div id="menu"></div>
        </div>
        
    </header>
    <div id="first-step">
        <main class=" h85">
            <div class="desktopp text-rot">TattooBocal is here</div>
            <img id="img-main-bg" class="h100 w100" src="../../../assets/img_bg-remove.png" />
            <h1>
                <span class="first-word">expert</span> tattoos<br> & piercings
            </h1>
            <p>
                schedule an appointement
            </p>
            <p>
                our service
            </p>
        </main>
        <div class="desktop" id="side-col">
            <prompter class="prompter"></prompter>
            <div id="our-work-block">
                <h3>OUR<br><span class="first-word">WORK</span></h3>
                <img  src="../../../assets/our_work.jpg" >  
            </div>
          
        </div>
    </div>
</div>