<div id="home-page">
    <header class=" w100">
        <div id="left-block" class="flex">
            <img id="logo" src="../../../assets/logo.png" />
            <p class="desktopp">Bryant Park, Manhattan, NYC</p>
        </div>
        
        <div id="right-block" class="flex">
            <p class="desktopp">Facebook</p>
            <p class="desktopp">Twitter</p>
            <p class="desktopp">Instagram</p>
            <div id="menu"></div>
        </div>
        
    </header>
    <div id="first-step">
        <main class=" h85">
            <div class="desktopp text-rot">TattooBocal is here</div>
            <img id="img-main-bg" class="h100 w100" src="../../../assets/img_bg-remove.png" />
            <h1>
                <span class="first-word">expert</span> tattoos<br> & piercings
            </h1>
            <a href="./appointement">
                schedule an appointement
            </a>
            <a href="./our-work">
                our service
            </a>
        </main>
        <div class="desktop" id="side-col">
            <prompter class="prompter"></prompter>
            <div id="our-work-block">
                <h3>OUR<br><span class="first-word">WORK</span></h3>
                <img  src="../../../assets/our_work.jpg" >  
            </div>
          
        </div>
    </div>

    <div id="second-step" class="h100 w100 desktop">
        <section id="container-ourwork">
            
            <div class="h-camp">
                <div class="bg-h-camp" id="hc-fi"></div>
            </div> 
                 
            <div class="h-camp">
                <div class="bg-h-camp" id="hc-se"></div>
            </div> 
             
            <div class="h-camp">
                <div class="bg-h-camp" id="hc-tr"></div>
            </div> 
                
            <div class="h-camp">
                <div class="bg-h-camp" id="hc-fo"></div>
            </div> 
        </section>
        <section id="page-info">
            <div id="btn-circle" >
                <img src="../../../assets/tattoo-machine4.png"/>
            </div>
            <div id="bar"></div>
            <div id="text-our-work">
                <h2>Our Work</h2>
                <p>Our work is inspired by many artiste and courant de penser lorem lipsum isa donz heuc nez pum neps libra
                    lorem lipsum isa donz heuc nez pum neps libra lorem lipsum isa donz heuc nez pum neps libra lorem lipsum 
                    isa donz heuc nez pum neps libra lorem lipsum isa donz heuc nez pum neps libra lorem lipsum isa donz heuc 
                    nez pum neps libra 
                </p>
            </div>
            
            
        </section>
        <prompter id="prompter2" currentPage="02" [color]="'white'"></prompter>
    </div>


    <div id="third-step" class="h100 w100 desktop">
        <section>
            <h2>Our service</h2>
            <p>Our first service is to tattoo... Lorem lipsum idra net hypoorem lipsum idra net hypoorem lipsum idra net hypoorem lipsum idra net hypoorem lipsum idra net hypo </p>
        </section>
        
        <div class="container-img">
            <img src="../../../assets/block3.jpg" />
            <img src="../../../assets/block32.jpg" />
        </div>
        <button mat-raised-button>Check our offer </button>
        <prompter id="prompter3" currentPage="03"></prompter>
    </div>


    <div id="four-step" class="h100 w100 desktop">
        <prompter id="prompter4" currentPage="04" color="white"></prompter>
        <div class="container-block-4">
            <img src="../../../assets/block4.avif" />

            <section>
                <div>
                    <h2>You have a project ? </h2>
                    <p>Let's schedule an anpointment with the form and validate the form the advance payment ! </p>
                    <button mat-raised-button>Schedule !</button>
                </div>
                <div>
                    <h2>Where is the local ? </h2>
                    <p>Our local is at the 21th jump street.</p>
                  
                </div>
                <div>
                    <h2>You have a question ? </h2>
                    <p>Contact us on instagram !</p>
                    <button  mat-raised-button>Instagram !</button>
                </div>
            </section>
        </div>
    
    </div>
</div>